body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: rgb(231, 3, 239);
  width: 100%; 
  height: 100%;
  overflow-x: hidden;
}

.error-msg-div {
  color: rgb(246, 44, 44);
}

.main-area-wrapper {
  position: absolute;
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background: rgb(60, 96, 227);
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 30%);
  width: 100%; 
  height: 85%;
  font-family: 'IBM Plex Mono'
}

.left-panel {
  height: 100%;
  flex: 1 0 auto;
  width: 25%;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: hsl(0, 0%, 30%);
  text-align: left;
  background: hsl(0, 0%, 17%);
  color: hsl(238, 68%, 79%);
  overflow-y:scroll;
}

.left-panel > div > .numeric-input {
  margin-left: 5%; 
  margin-top: 5%;
  width: 25%;

  font-family: 'IBM Plex Mono';
  color:hsl(238, 68%, 79%);
  background-color: transparent;
}
.numeric-input > input[type=number] {
  border: solid;
  border-width: 1px;
  border-color:hsl(238, 68%, 79%);
  color:hsl(238, 68%, 79%);
  font-family: 'IBM Plex Mono';
  background-color: transparent;
}
.numeric-input > div {
  margin-top: 1%;
  margin-right: 5%;
  text-align: right;
}

.numeric-input > div > input[type=button] {
  border: solid;
  border-width: 1px;
  border-color:hsl(238, 68%, 79%);
  color:hsl(238, 68%, 79%);
  font-family: 'IBM Plex Mono';
  background-color: transparent;
  font-size:medium;
}

input[type=button]  {
  border: solid;
  border-width: 1px;
  border-color:hsl(238, 68%, 79%);
  color:hsl(238, 68%, 79%);
  font-family: 'IBM Plex Mono';
  background-color: transparent;
  font-size:medium;
}

input[type=button]:disabled  {
  color: hsl(238, 80%, 67%);
  border-color: hsl(238, 80%, 67%);
  cursor:auto;
}

input[type=button]:hover:enabled {
  font-weight: bold;
  cursor: pointer;
  color: hsl(237, 63%, 86%);
  border-color: hsl(237, 63%, 86%);
}

.numeric-input > div > input[type=button]:disabled,
.numeric-input > div > input[type=button][disabled] {
  color: hsl(238, 80%, 67%);
  border-color: hsl(238, 80%, 67%);
  cursor:auto;
}

.numeric-input > div > input[type=button]:hover:enabled,
.numeric-input > div > input[type=button][hover][enabled] {
  font-weight: bold;
  cursor: pointer;
  color: hsl(237, 63%, 86%);
  border-color: hsl(237, 63%, 86%);
}


.left-panel-input {
  font-family: 'IBM Plex Mono';
  color:hsl(238, 68%, 79%);
  background-color: transparent;
  border: solid;
  border-width: 1px;
  font-size:medium;
}

.title-div {
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: hsl(0, 0%, 30%);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  font-size: larger;
}

.main-header, 
.main-footer {
  text-align: center;
}


.stakan-wrapper {
  height: 100%;
  width: 50%;
  flex: 2 0 auto;
  text-align:center;
  background: black;
}

.stakan-canvas {
  margin-top: 2%;
  margin-bottom: 2%;
  background: transparent;
  border-style: hidden;
}

.stakan-canvas:hover {
  margin-top: 2%;
  margin-bottom: 2%;
  background: transparent;
  border-color:  hsl(0, 0%, 30%);
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
}

.control-panel {
  position: absolute;
  top: 0px;
  width: 50%;
  height: 100%; 
  background: 'rgba(20, 19, 19, 0.5)';
  overflow-y:hidden;
}
.control-panel > .header {
  margin-top: 30%;
}

.control-panel > div {
  color: rgba(5, 226, 255, 0.701);
}

.control-panel-main {
  position: absolute;
  left:0;
  width: 100%;
  height: 90%; 
  top: 5%;
  background: rgba(50, 50, 50, 0.5);
}

.control-panel-main .numeric-input > input[type=number]  {
  width: 10%;
  margin-left: 50%;
}

.control-panel-main .numeric-input > div  {
  margin-top: 1%;
  margin-right: 0%;
}

.control-panel-section {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-size: larger;
}

.control-panel-footer {
  position: absolute;
  height: 5%;
  width: 100%;
  bottom: 0;
}

.right-panel {
  width: 25%;
  height: 100%;
  flex: 1 0 auto;
  flex-direction: column;
  background: hsl(0, 0%, 17%);
  border-left-width: 1px;
  border-left-style: solid;
  border-color: hsl(0, 0%, 30%);
  color: rgba(5, 226, 255, 0.701);
  font-family: 'IBM Plex Mono';
  overflow-y:scroll;
}

.right-panel-active-users {
  width: 100%;
  height: 50%;
  flex: 1 0 auto;
}

.right-panel-sessions-archive {
  width: 100%;
  height: 50%;
  flex: 1 0 auto;
}

.output_terminal_container  {
  position: absolute;
  height: 15%;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color:rgb(75, 210, 25);
  background-color: hsl(0, 0%, 0%);
  border-color: hsl(0, 0%, 30%);
  border-top-style: solid;
  border-width: 1px;
  white-space: pre-line;
  text-align: left;
  overflow-y:auto;
  font-family: 'IBM Plex Mono';
}

.session-archive-list {
  list-style: none;
}

.session-archive-item {
  border-bottom-style: hidden;
}

.game-controls-table {
  width: 60%;
  margin-left: 20%;
  margin-top: 5%;
  color: rgba(53, 93, 98, 0.701);
  font-family: 'IBM Plex Mono';
}

.game-controls-table td:nth-child(1) { text-align: left; }
.game-controls-table td:nth-child(2) { text-align: end; }

.stored-sessions-table {
  width: 100%;
  color: rgba(5, 226, 255, 0.701);
  font-family: 'IBM Plex Mono';
}

.stored-sessions-table td:nth-child(1) { text-align: center; }
.stored-sessions-table td:nth-child(2) { text-align: end; }

.signing-out-dialog {
  position: relative;
  color: hsl(18, 93%, 61%);
  border-style: solid;
  border-color:  hsl(18, 93%, 61%);
  border-width: 1px;
  margin-top: 5%;
  height: 30%;
  text-align: left;
}
.signing-out-dialog > div > input {
  color: hsl(18, 93%, 61%);
  border-color:  hsl(18, 93%, 61%);
}

.signing-out-dialog > div > input:hover:enabled,
.signing-out-dialog > div > input[hover][enabled] {
  font-weight: bold;
  cursor: pointer;
  color:hsl(18, 97%, 72%);
  border-color: hsl(18, 97%, 72%);
}
