body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: rgb(231, 3, 239);
  width: 100%; 
  height: 100%;
}

.error-msg-div {
  color: rgb(246, 44, 44);
}

.main-area-wrapper {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background: rgb(40, 22, 90);
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 30%);
  width: 100%; 
  height: 85%;
  font-family: 'IBM Plex Mono'
}

.left-panel {
  height: 100%;
  flex: 1 0 auto;
  width: 25%;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: hsl(0, 0%, 30%);
  text-align: left;
  background: hsl(0, 0%, 17%);
  color: hsl(238, 68%, 79%);
}

.left-panel > .numeric-input {
  margin-left: 5%; 
  margin-top: 5%;
  font-family: 'IBM Plex Mono';
  color:hsl(238, 68%, 79%);
  background-color: transparent;
}
.left-panel > .numeric-input > .numeric-input-field {
  border: solid;
  border-width: 1px;
  border-color:hsl(238, 68%, 79%);
  color:hsl(238, 68%, 79%);
  font-family: 'IBM Plex Mono';
}
.left-panel > .numeric-input > div {
  margin-top: 1%;
  margin-right: 5%;
  text-align: right;
;
}

.left-panel > .numeric-input > div > .numeric-input-button {
  border: solid;
  border-width: 1px;
  border-color:hsl(238, 68%, 79%);
  color:hsl(238, 68%, 79%);
  font-family: 'IBM Plex Mono';
  background-color: transparent;
  font-size:medium;
  cursor: pointer;
}

.left-panel > .numeric-input > div > .numeric-input-button:disabled,
.left-panel > .numeric-input > div > .numeric-input-button[disabled] {
  color: rgb(246, 44, 44);
  border-color: rgb(246, 44, 44);
  cursor:auto;
}

.left-panel-input {
  font-family: 'IBM Plex Mono';
  color:hsl(238, 68%, 79%);
  background-color: transparent;
  border: solid;
  border-width: 1px;
  font-size:medium;
}

input[type=number] { 
  background-color: transparent;
  width: 30%;
}
input[type=number][disabled] {
  color: red;
}

.title-div {
  text-align: center;
  border-top-width: 1px;
  border-top-style: solid;
  border-color: hsl(0, 0%, 30%);
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  font-size: larger;
}

.main-header, 
.main-footer {
  text-align: center;
}


.stakan-wrapper {
  position: relative;
  height: 100%;
  width: 50%;
  flex: 2 0 auto;
  text-align:center;
  background: black;
}

.stakan-canvas-inactive {
  margin-top: 2%;
  margin-bottom: 2%;
  background: transparent;
  border-style: hidden;
}

.stakan-canvas-active {
  margin-top: 2%;
  margin-bottom: 2%;
  background: transparent;
  border-color: hsl(124, 96%, 46%);
  border-style: solid;
  border-width: 1px;
}

.control-panel {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%; 
  background: 'rgba(20, 19, 19, 0.5)';
}
.control-panel > .header {
  margin-top: 30%;
}

.control-panel > div {
  color: rgba(5, 226, 255, 0.701);
}

.control-panel-main {
  position: absolute;
  width: 100%;
  height: 90%; 
  top: 5%;
  background: rgba(50, 50, 50, 0.5);
}

.control-panel-section {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-size: larger;
}


.right-panel {
  width: 25%;
  height: 100%;
  flex: 1 0 auto;
  flex-direction: column;
  background: hsl(0, 0%, 17%);
  border-left-width: 1px;
  border-left-style: solid;
  border-color: hsl(0, 0%, 30%);
  color: rgba(5, 226, 255, 0.701);
}

.right-panel-active-users {
  width: 100%;
  height: 50%;
  flex: 1 0 auto;
}

.right-panel-sessions-archive {
  width: 100%;
  height: 50%;
  flex: 1 0 auto;
}

.RecordPanel {
  height: 80%;
  width: 100%;
}

.output_terminal_container  {
  height: 15%;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color:rgba(0, 255, 162, 0.7);
  background-color: hsl(0, 0%, 0%);
  border-color: hsl(0, 0%, 30%);
  border-top-style: hidden;
  border-width: 1px;
  white-space: pre-line;
  text-align: left;
  overflow-y:auto;
  font-family: 'IBM Plex Mono';
}

.session-archive-list {
  list-style: none;
}

.session-archive-item {
  border-bottom-style: hidden;
}

.game-controls-table {
  width: 60%;
  margin-left: 20%;
  color: rgba(53, 93, 98, 0.701);
  font-family: 'IBM Plex Mono';
}

.game-controls-table td:nth-child(1) { text-align: left; }
.game-controls-table td:nth-child(2) { text-align: end; }

.stored-sessions-table {
  width: 100%;
  color: rgba(5, 226, 255, 0.701);
  font-family: 'IBM Plex Mono';
}

.stored-sessions-table td:nth-child(1) { text-align: center; }
.stored-sessions-table td:nth-child(2) { text-align: end; }
